@page
@model IndianFilmManager.Pages.Actors.AddEditModel
@{
    ViewData["Title"] = Model.IsEdit ? "Редактировать актёра" : "Добавить актёра";
}

<div class="container">
    <header class="text-center my-4">
        <h1 class="display-6">@ViewData["Title"]</h1>
    </header>

    <form method="post">
        <input type="hidden" asp-for="Actor.Id" />
        <div class="form-group">
            <label asp-for="Actor.Name"></label>
            <input asp-for="Actor.Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>